@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

/* ==========================================================================
Navbar
========================================================================== */
/* cor do titulo */
.navbar-title{
  color: #515a5a;

}
.navbar-title:hover{
  font-weight: bold;
  color: #383e42;
}

.navbar-version {
  font-size: 0.65em;
  color: $navbar-dark-color;
}

.profile-image {
  height: 1.75em;
  width: 1.75em;
}

.navbar {
  padding: 0.2rem 1rem;
  /*background-color: #e8e8e8;*/
  background-color: #D3D6D9;


  ul.navbar-nav {
    .nav-item {
      margin-left: 0.5em;
    }
  }

  a.nav-link {
    font-weight: normal;
  }
  a.nav-link:hover {
    font-weight: bold;
  }
  .dropdown-item.active{
    background-color: #343a40;
    color: #FFFFFF;
  }
  .dropdown-item{
    color: #515a5a;
  }
  .dropdown-item:hover{
    background-color: #343a40;
    color: #FFFFFF;
  }
}

/* ==========================================================================
Logo styles
========================================================================== */
.logo-img {
  height: 45px;
  width: 45px;
  display: inline-block;
  vertical-align: middle;
  background: url('../../../content/images/isel_logo2.svg') no-repeat center center;
  background-size: contain;
}
